<!DOCTYPE html>
<html lang="en">
  <head>
      {{>headerlink}}
  </head>
  <body>
    {{> navbar}}
    <!-- Main header -->

    <div class="container-fluid main_header ">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="error">
                          <img src="./images/error.jpg" alt="patel" class="img-fluid"  title="Patel "/>
                        </figure>
                        <p class="text-uppercase">Welcome to Patel Weather</p>
                        <a href="/" class="btn ">Go Back</a>
                      </div>
                </div>
            </div>
        </div>
    </div>
    {{> footer}}
  </body>
</html>
