<!DOCTYPE html>
<html lang="en">
  <head>
      {{>headerlink}}
  </head>
  <body>
    {{> navbar}}
    <!-- Main header -->

    <div class="container-fluid main_header ">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                          <img src="./images/pic4.png" alt="pztel" class="img-fluid"  title="Roshan Patel "/>
                        </figure>
                      </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p class="text-uppercase">Welcome to wethaer app</p>
              
                        <h1 class="text-capitalize">I am A <span class="text_clr" >MERN Stack</span> developer</h1>
                        <a href="https://www.linkedin.com/in/rosh1207" target="_blank" class="btn ">About Me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> footer}}
  </body>
</html>
